

   <!--================ Start ESPANISH Banner Area =================-->
<section *ngIf="spanish" class="banner_area animated fadeIn">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contactame</h2>
                <div class="page_link">
                    <a [routerLink]="[ '/home']">Inicio</a>
                    <a [routerLink]="[ '/contacto']">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End ESPANISH Banner Area =================-->


<!--================ Start ENGLISH Banner Area =================-->
<section *ngIf="english" class="banner_area animated fadeIn">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Contact Me</h2>
                <div class="page_link">
                    <a [routerLink]="[ '/home']">Home</a>
                    <a [routerLink]="[ '/contacto']">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End ENGLISH Banner Area =================-->
    
    <!--================ESPANISH Contact Area =================-->
    <section *ngIf="spanish" class="contact_area section_gap animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Santo Domingo Este</h6>
                            <p>Republica Dominicana</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">+1 809-512-2411</a></h6>
                            <p>Disponible de 10am a 10pm</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">joeltoribiopolanco@gmail.com</a></h6>
                            <p>¡Envíame tu consulta en cualquier momento!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form class="row contact_form" (ngSubmit)="contact(contacto)" #contacto="ngForm">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="data.name" id="name" name="name" placeholder="Ingresa tu nombre" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" [(ngModel)]="data.email" id="email" name="email" placeholder="Ingresa tu correo" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="data.subject" id="subject" name="subject" placeholder="Ingresar Asunto" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" [(ngModel)]="data.message" id="message" rows="1" placeholder="Ingresa Mensage"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="primary_btn">
                                <span>Enviar Mensaje</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================ESPANISH Contact Area =================-->


    <!--================ENGLISH Contact Area =================-->
    <section *ngIf="english" class="contact_area section_gap animated fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>Santo Domingo Este</h6>
                            <p>Dominican Republic</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">+1 809-512-2411</a></h6>
                            <p>Available from 10 a.m. at 10 p.m.</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#">joeltoribiopolanco@gmail.com</a></h6>
                            <p>¡Send me your query at any time!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form (ngSubmit)="contact(contacto)" #contacto="ngForm" class="row contact_form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="data.name" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" [(ngModel)]="data.email" class="form-control" id="email" name="email" placeholder="Enter email address" required>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="data.subject" class="form-control" id="subject" name="subject" placeholder="Enter Subject" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" [(ngModel)]="data.message" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="primary_btn">
                                <span>Send Message</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================ENGLISH Contact Area =================-->
